<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sbang.mapper.StudyMapper">

	<insert id="create">
		insert into study(studyName,studyCategory,studyRegion,studyTargetAge,studyMaxMemCnt,studyCurMemCnt,studyMemFee,studyWorkPerMonth,studyIntroduce,studyStartDate,studyEndDate) values
		(#{studyName},#{studyCategory},#{studyRegion},#{studyTargetAge},#{studyMaxMemCnt},#{studyCurMemCnt},#{studyMemFee},#{studyWorkPerMonth},#{studyIntroduce},#{studyStartDate},#{studyEndDate})
	</insert>

	<select id="read" resultType="StudyVO">
		select
		*
		from
		study
		where
		studyNo=#{studyNo}
	</select>

	<update id="update">
		update study set
		studyName=#{studyName},studyCategory=#{studyCategory},studyRegion=#{studyRegion},studyTargetAge=#{studyTargetAge},studyMaxMemCnt=#{studyMaxMemCnt},
		studyCurMemCnt=#{studyCurMemCnt},studyMemFee=#{studyMemFee},studyWorkPerMonth=#{studyWorkPerMonth},studyIntroduce=#{studyIntroduce},studyStartDate=#{studyStartDate},studyEndDate=#{studyEndDate}
		where studyNo=#{studyNo}
	</update>

	<delete id="delete">
		delete from study where studyNo=#{studyNo}
	</delete>

	<select id="listAll" resultType="StudyVO">
  		<![CDATA[
  		select
  		*
  		from
  		study
  		where studyNo>0
  		order by studyNo desc,studyRegDate desc
  		]]>
	</select>
	
	<insert id="addImg">
	insert into image(imagePath,studyNo) values(#{imagePath},LAST_INSERT_ID())
	</insert>
	
	<delete id="deleteImg">
		delete from image where studyNo=#{studyNo}
	</delete>
	
	<select id="getImg" resultType="string">
		select imagePath from image where studyNo=#{studyNo}
	</select>
	
</mapper>
<!-- 
	<select id="listPage" resultType="BoardVO">
  	<![CDATA[
  		select
  		*
  		from
  		tbl_board
  		where bno>0
  		order by bno desc, regdate desc
  		limit #{page},10
  	]]>
	</select>

	<select id="listCriteria" resultType="BoardVO">
  	<![CDATA[
  	select
  	*
  	from
  	tbl_board
  	where bno>0
  	order by bno desc, regdate desc
  	limit #{pageStart},#{perPageNum}
  	]]>
	</select>

	<select id="countPaging" resultType="int">
  	<![CDATA[
  	select
  	count(bno)
  	from
  	tbl_board
  	where
  	bno>0
  	]]>
	</select>

	<select id="listSearch" resultType="BoardVO">
  	<![CDATA[
  	select *
  	from tbl_board
  	where bno>0
  	]]>
		<include refid="search"></include>
  	<![CDATA[
  	order by bno desc
  	limit #{pageStart},#{perPageNum}
  	]]>
	</select>
	
	<select id="listSearchCount" resultType="int">
  	<![CDATA[
  	select count(bno)
  	from tbl_board
  	where bno>0
  	]]>
  	<include refid="search"></include>
 
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replycnt=replycnt+#{amount} where bno=#{bno}
	</update>
	
	<update id="updateViewCnt">
		update tbl_board set viewcnt=viewcnt+1 where bno=#{bno}
	</update>
	
	
	

	
	
	<insert id="replaceAttach">
		insert into tbl_attach(fullName,bno) values (#{fullName},#{bno})
	</insert>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

 -->

