<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sbang.mapper.UserMapper">

	<insert id="create">
		insert into user(userName, userEmail, userPwd,userBirth,
		userGender,userPhoneNumber)values(#{userName},#{userEmail},#{userPwd},#{userBirth},#{userGender},#{userPhoneNumber})
	</insert>

	<update id="createPwd">
		update user set userPwd = #{key} whereuserEmail = #{userEmail}
	</update>

	<insert id="createAuthKey">
		insert into userAuth values(#{userEmail}, #{authKey})
	</insert>

	<select id="login" resultType="UserVO">
		<![CDATA[select userEmail, userName from user where userEmail = #{userEmail} and userPwd = #{userPwd} and userCertification > 0]]>
	</select>

	<select id="findId" resultType="String">
		select userEmail from user where userName = #{userName} and
		userBirth = #{userBirth}
	</select>

	<update id="findPwd">
		update user set userPwd = #{userNewPwd} where userEmail = #{userEmail}
	</update>

	<select id="read" resultType="UserVO">
		select userEmail, userName, userBirth, userPhoneNumber from
		user where userEmail =#{userEmail}
	</select>

	<update id="updatePwd">
		update user set userPwd = #{userNewPwd} where userEmail = #{userEmail} and
		userPwd = #{userPwd}
	</update>

	<select id="checkPwd" resultType="int">
		select count(*) from user where userEmail = #{userEmail}
		and userPwd = #{userPwd}
	</select>

	<update id="modify">
		update user set userPhoneNumber = #{userPhoneNumber} , userName = #{userName}
	</update>

	<delete id="delete">
		delete from user where userEmail = #{userEmail}
	</delete>

	<delete id="deleteAuth">
		delete from userAuth where userEmail = #{userEmail}
	</delete>

	<update id="keepLogin">
		update user set sessionKey = #{sessionId}, sessionLimit = #{next} where userEmail
		= #{userEmail}
	</update>

	<select id="checkUserWithSessionKey" resultType="UserVO">
		<![CDATA[select * from user where sessionKey = #{value} and sessionLimit > now()]]>
	</select>

	<update id="userAuth">
		<![CDATA[update user set userCertification = 1 where (select count(*) from userAuth where userEmail = #{userEmail}) > 0]]>
	</update>

</mapper>